@main("gebruiker") {
 <h2> Gebruiker Toevoegen </h2> 
 <BR>
 @helper.form(action = routes.UserController.submit()) {
 
 
 
<div class="form-group" >
            <label> Naam: </label> <br />
            <input type="text" name="name" class="answer form-control" id="name" style="width: 400px;" />
        </div>
        
  
<div class="form-group" >
            <label> Achternaam: </label> <br />
            <input type="text" name="surname" class="answer form-control" id="surname" style="width: 400px;" />
        </div>       
        
<div class="form-group" >
            <label> Gebruikersnaam : </label> <br />
            <input type="text" name="user" class="answer form-control" id="user" style="width: 400px;" required />
        </div>
        
   <div class="form-group" >
            <label> Wachtwoord : </label> <br />
            <input type="password" name="password" class="answer form-control" id="password" style="width: 300px;" required />
        </div>
        
        <div class="form-group">
            <label>Datum Registratie</label>
            <div class="form-group">
                <input type="text" class="answer form-control" id="date"  name="date"  style="width: 300px;"  readonly /><br>
            </div>
        </div>
        
       <label> Functie: </label> 
		<SELECT NAME="fnt">
		<OPTION selected>admin</OPTION>
		<OPTION>user</OPTION>
		</SELECT>  <BR><BR><BR>
        
      <div class="form-group" >
            
            <input type="hidden" id="login"  name="login" >
        </div>

        <input type="submit"  class="btn btn-primary" value="Verzenden" />
        }
}


<script type="text/javascript">  
  var d = new Date();
document.getElementById("date").value = d.toDateString();
</script>

<script>

    var x = document.getElementById("login")
    x.value = Math.floor((Math.random() * 1000000000) + 1).toString();

</script>