@(model: views.UserController.Index) 

@main("Gebruiker verwjideren") {
    <h2> Gebruiker verwijderen </h2> <BR>
    
    <table class = "table"> 
   <h4> Gegevens van deze gebruiker: </h4> <BR>
     
    <tr>
            <th class="col-lg-5">Naam </th>
            <th class="col-lg-5">Gebruikersnaam</th>
            <th class="col-lg-2">Datum geregistreerd</th>
            <th class="col-lg-2"> Functie </th> 
            
        </tr>
        
        @for(m <- model.getUsers()) {
        <tr>
            <td>@m.getName()</td>
            <td>@m.getUserName()</td>
            <td>@m.getDate()</td>
            <td>@m.getFunction()</td>
            </tr>
            
            </table>
   
     @helper.form(action = routes.UserController.removeUser(m.getId())) {
   <h4> Weet u zeker dat u deze gebruiker wil verwijderen? </h4><BR>
   
   <a class="btn btn-default" href="@routes.UserController.index()">Annuleren</a>
	<input type="submit"  class="btn btn-primary" value="Verwijderen" />
    
  } 
}
}

   



