@(model: views.UserController.Index)

@main("Gebruiker wijzigen") {
    <h2>Gebruiker wijzigen</h2><BR>

    <table class="table">
    
    <h4> Gebruiker die u wilt wijzigen: </h4> 
        <tr>
           <th class="col-lg-4">Naam </th>
           <th class="col-lg-4">Achternaam </th>
            <th class="col-lg-5">Gebruikersnaam</th>
            <th class="col-lg-2">Datum geregistreerd</th>
            <th class="col-lg-2"> Functie </th> 
            
        </tr>
        
        @for(m <- model.getUsers()) {
        <tr>
            <td>@m.getName()</td>
            <td>@m.getSurname()</td>
            <td>@m.getUserName()</td>
            <td>@m.getDate()</td>
            <td>@m.getFunction()</td>
            
            </tr> 

        
    </table>
    <BR><BR>
    
     @helper.form(action = routes.UserController.change(m.getId())) {
    <h4> Nieuwe gegevens van de gebruiker: </h4> <br>
    <div class="form-group" >
            <label> Naam: </label> <br />
            <input type="text" name="name" class="answer form-control" id="name" style="width: 400px;" value="@m.getName()" />
        </div>
        
         <div class="form-group" >
            <label> Achternaam: </label> <br />
            <input type="text" name="lastname" class="answer form-control" id="name" style="width: 400px;" value="@m.getSurname()" />
        </div>
        
<div class="form-group" >
            <label> Gebruikersnaam : </label> <br />
            <input type="text" name="user" class="answer form-control" id="user" style="width: 400px;" value="@m.getUserName()"required />
        </div>
        
   <div class="form-group" >
            <label> Wachtwoord : </label> <br />
            <input type="password" name="password" class="answer form-control" id="password" style="width: 300px;" required />
        </div>
        
        <div class="form-group" >
           
            <input type="hidden" id="date"  name="date" readonly>
        </div><BR>
        
  
       <label> Functie: </label> 
		<SELECT NAME="fnt">
		<OPTION selected>admin</OPTION>
		<OPTION>user</OPTION>
		</SELECT>  <BR><BR><BR>
        
      <div class="form-group" >
            
            <input type="hidden" id="login"  name="login" >
        </div>
    


	
	<BR>
<a class="btn btn-default" href="@routes.UserController.index()">Annuleren</a>
<input type="submit"  class="btn btn-primary" value="Wijzig" />
}
 }   
}

<script type="text/javascript">  
  var d = new Date();
document.getElementById("date").value = d.toDateString();
</script>

<script>

    var x = document.getElementById("login")
    x.value = Math.floor((Math.random() * 1000000000) + 1).toString();

</script>
