@(model: views.UserController.Index)
@main("gebruiker") {
 
 
 <h2>Gebruikersbeheer</h2><BR>

    <BR>

    <table class="table">
        <tr>
            <th class="col-lg-4">Naam </th>
            <th class="col-lg-4">Achternaam</th>
            <th class="col-lg-5">Gebruikersnaam</th>
            <th class="col-lg-2">Datum geregistreerd</th>
            <th class="col-lg-2"> Functie </th> 
     </tr>
     @for(m <- model.getUsers()) {
        <tr>
            <td>@m.getName()</td>
            <td>@m.getSurname()</td>
            <td>@m.getUserName()</td>
            <td>@m.getDate()</td>
            <td>@m.getFunction()</td>
 			<td class="right"> 
            	<a href="@routes.UserController.edit(m.getId())">Wijzigen</a>
        </td>
             <td class="right"> 
            	<a href="@routes.UserController.delete(m.getId())">Verwijderen</a>
        </td>
        </tr>
        }
     
    </table>
    
    
     <a class="btn btn-primary" href="@routes.UserController.add()">Gebruiker Toevoegen</a>
}
