@import com.fasterxml.jackson.databind.JsonNode

@(entry: JsonNode)

@main("Opmerking bij dagboekkaart") {
    <a href="@routes.DiaryController.view(entry.findPath("id").asLong())" class="btn btn-primary btn-sm">
            &laquo; Terug
    </a>
    <br />

    <h1>Opmerking bij dagboekkaart</h1>

    <hr />

    <strong>Naam:</strong> @entry.findPath("name").asText() <br />
    <strong>Datum:</strong> <span class="timestamp">@entry.findPath("date").asText()</span> <br />

    <hr />

    <form>
        <div class="form-group">
            <textarea class="form-control" id="comment" placeholder="Vul hier je opmerking in..."></textarea>
        </div>

        <hr />

        <div class="form-group">
            <button type="button" class="btn btn-success" id="submit" data-loading-text="bezig...">Verzenden</button>
        </div>
    </form>
}


<script type="text/javascript">
    $(function() {
    $('.timestamp').each(function() {
        $this = $(this);
        $this.text(moment.unix($this.text()).format());
    });

    $('button#submit').click(function() {
            $(this).button('loading');
            submitComment(function() {
                $(this).button('reset');
            }.bind(this));
        });

        var submitComment = function(callback) {
            var comment = $('textarea#comment').val();

            if (comment === '') {
                alert('Vul a.u.b. het veld in!');
                callback();
                return;
            }

            $.ajax({
                url: '/api/diary/@entry.findPath("id").asLong()/comment',
                method: 'POST',
                data: JSON.stringify({
                    comment: comment
                }),
                contentType: 'application/json; charset=utf-8',
                success: function() {
                    window.location = '@routes.DiaryController.view(entry.findPath("id").asLong())';
                },
                error: function() {
                    callback();
                }
            });
        };
    });
</script>
