@main("Dagboek") {
    <h2 id="header">Dagboek voor <span></span></h2>
    
    <hr />
    
    <form>
        <div class="form-group">
            <label for="name">Jouw naam</label>
            <input type="text" class="form-control required" id="name" />
        </div>

        <div class="form-group">
            <label for="date">Datum</label>
            <div class="input-group datetimepicker">
                <input type="text" class="form-control required" id="date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        
        <hr />
        
        <div id="feeling" class="form-group">
            <h3>Hoe gaat het vandaag met je?</h3>

            @for((f, i) <- Array("Ik weet het niet", "Goed", "Het gaat wel", "Slecht", "Heel slecht").zipWithIndex) {
                <label>
                    <input type="radio" name="feeling" @if(i == 1) {checked}> <span>@f</span>
                </label><br />
            }
        </div>
        
        <hr />
        
        <div id="events">
            <div>
                <button type="button" class="btn btn-success btn-sm pull-right" id="add-event">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <h3>Waar had je vandaag last van?</h3>
            </div>

            <hr />

            <div class="form-group event">
                <div>
                    <button type="button" class="btn btn-danger btn-xs pull-right remove-event">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <br /><br />
                </div>

                <div class="obstacle">
                    <select class="form-control">
                        <option>Een eetbui of snaaiaanval</option>
                        <option>Een neiging toe te geven aan een eetbui</option>
                        <option>Eten zonder bewuste aandacht</option>
                    </select>
                </div>

                <div class="intensity">
                    <span>Geef aan in een schaal van 0-6 hoe hevig dat was/is:</span>
                    <select class="form-control">
                        <option value="0">0 - Niet ervaren</option>
                        <option value="1">1 - Licht en het duurde kort</option>
                        <option value="2">2 - Matig en het duurde kort</option>
                        <option value="3">3 - Intens maar het duurde kort</option>
                        <option value="4">4 - Licht maar het duurde lang</option>
                        <option value="5">5 - Matig maar het duurde lang</option>
                        <option value="6">6 - Intens maar het duurde lang</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" id="go-to-chain-events" style="display: none">
            <hr />
            <p>We raden je aan om een kettinganalyse uit te voeren.</p>
            <button type="button" class="btn btn-primary go-to-chain">Kettinganalyse starten</button>
        </div>

        <hr />

        <div id="irrelevant-behavior" class="form-group">
            <h3>Was er vandaag sprake van zgn. irrelevant gedrag? </h3>

            <label>
                <input type="radio" name="irrelevant" value="1"> <span>Ja</span>
            </label><br />
            <label>
                <input type="radio" name="irrelevant" value="0" checked> <span>Nee</span>
            </label><br />

            <div id="irrelevant-behavior-explanation" class="form-group" style="display: none">
                <label for="irrelevant-behavior-explanation-text">Geef aan wat er gebeurde of vul een kettinganalyse in</label>
                <input type="text" class="form-control" id="irrelevant-behavior-explanation-text" />

                <br />

                <button type="button" class="btn btn-primary btn-sm go-to-chain">Kettinganalyse starten</button>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <button type="button" class="btn btn-success" id="submit" data-loading-text="bezig...">Verzenden</button>
        </div>
    </form>
}

<style>
    label {
        font-weight: normal;
    }
</style>

<script type="text/javascript">
    $(function () {
        $('#header').children('span').html(moment().format('DD-MM-YYYY'));

        var format = 'YYYY-MM-DDTHH:mm:ssZ';
        $('.datetimepicker').datetimepicker({
            format: format,
            sideBySide: true
        });
        $('.datetimepicker>input').val(moment().format(format));

        $('button#add-event').click(function () {
            var $events = $('#events');
            $events.append('<hr />');
            $events.append($events.find('.event:last').clone(true));
        });

        $('#events').find('.event .remove-event').click(function () {
            if ($('#events').find('.event').length > 1) {
                var $event = $(this).closest('.event');
                $event.prev('hr').remove();
                $event.remove();
            }
        });

        $('.event>.intensity>select').change(function() {
            var found = false;
            $('#events').find('.event').each(function() {
                var intensity = parseInt($(this).find('.intensity>select').val());
                if (intensity >= 3) {
                    found = true;
                    $('#go-to-chain-events').show();
                }
            });

            if (!found) {
                $('#go-to-chain-events').hide();
            }
        });

        var $irrelevantBehavior = $('#irrelevant-behavior');
        $irrelevantBehavior.find('input[type=radio]').change(function() {
            if ($(this).val() === '1') {
                $('#irrelevant-behavior-explanation').show();
            } else {
                $('#irrelevant-behavior-explanation').hide();
            }
        });

        $('button#submit').click(function() {
            $(this).button('loading');
            submitDiary(function() {
                $(this).button('reset');
            }.bind(this), '@routes.DiaryController.index()');
        });

        $('button.go-to-chain').click(function() {
            submitDiary(function() {}, '@routes.ChainController.form()');
        });
    });

    function submitDiary(callback, redirectTo) {
        if (!validate()) {
            alert('Vul a.u.b. alle velden in!');
            callback();
            return;
        }

        var obstaclesAnswers = [];
        $('#events').find('.event').each(function() {
            obstaclesAnswers.push({
                text: $(this).find('.obstacle option:selected').text(),
                intensity: parseInt($(this).find('.intensity select').val())
            });
        });

        var toSend = {
            name: $('#name').val(),
            date: moment($('#date').val()).unix(),
            feelings: {
                question: $('#feeling').children('h3').text(),
                answer: $('#feeling').find('input:checked').siblings('span').text()
            },
            obstacles: {
                question: $('#events').find('h3:first').text(),
                answer: obstaclesAnswers
            },
            irrelevantBehavior: {
                question: $('#irrelevant-behavior').children('h3').text(),
                answer: $('#irrelevant-behavior').find('input:checked').siblings('span').text()
            }
        };

        if ($('#irrelevant-behavior').find('input:checked').val() === '1') {
            toSend.irrelevantBehavior.explanation = $('#irrelevant-behavior-explanation-text').val();
        }

        $.ajax({
            url: '/api/diary',
            method: 'POST',
            data: JSON.stringify(toSend),
            contentType: 'application/json; charset=utf-8',
            success: function() {
                window.location = redirectTo;
            },
            error: function() {
                callback();
            }
        });
    }

    var validate = function() {
        var emptyInputs = $('input.required').filter(function() { return $(this).val() === ''; });
        if (emptyInputs.length > 0) {
            return false;
        }

        if ($('#irrelevant-behavior').find('input:checked').val() === '1' && $('#irrelevant-behavior-explanation-text').val() === '') {
            return false;
        }

        return true;
    };
</script>
