@import com.fasterxml.jackson.databind.JsonNode

@(entries: JsonNode)

@main("Dagboek") {
    <h1>Dagboek</h1>

    <hr />

    <p>Welkom bij jouw persoonlijke dagboek!</p>

    <p><a href="@routes.DiaryController.form()" class="btn btn-primary">Klik hier om te beginnen</a></p>

    <hr />

    <h3>Vorige dagboekkaarten</h3>

    <table class="table table-striped">
        <thead>
            <tr><th>Naam</th> <th>Datum</th> <th></th></tr>
        </thead>

        <tbody>
        @for(e: JsonNode <- iterableAsScalaIterable(entries.findPath("items"))) {
            <tr>
                <td>@e.findPath("name").asText()</td>
                <td class="timestamp">@e.findPath("date").asText()</td>
                <td class="text-right">
                    <a href="@routes.DiaryController.view(e.findPath("id").asLong())" class="btn btn-primary btn-sm">&raquo;</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<script type="text/javascript">
    $(function() {
        $('.timestamp').each(function() {
            $this = $(this);
            $this.text(moment.unix($this.text()).format());
        });
    });
</script>
