@import com.fasterxml.jackson.databind.JsonNode

@(entry: JsonNode)

@main("Dagboek") {
    <a href="@routes.DiaryController.index()" class="btn btn-primary btn-sm">
        &laquo; Terug
    </a>
    <a href="@routes.DiaryController.comment(entry.findPath("id").asLong())" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-edit"></span> Opmerking toevoegen
    </a>
    <br />

    <h1>Dagboekkaart</h1>

    <hr />

    <strong>Naam:</strong> @entry.findPath("name").asText() <br />
    <strong>Datum:</strong> <span class="timestamp">@entry.findPath("date").asText()</span> <br />

    @if(entry.findPath("comments").size() > 0) {
        <hr/>

        <h4>Opmerkingen</h4>

        @for(c: JsonNode <- iterableAsScalaIterable(entry.findPath("comments"))) {
            <blockquote>@c.asText()</blockquote>
        }
    }

    <hr/>

    @defining(entry.findPath("feelings")) { f =>
        <h4>Gevoelens</h4>
        <strong>Vraag:</strong> @f.findPath("question").asText() <br />
        <strong>Antwoord:</strong> @f.findPath("answer").asText() <br />
    }

    <hr />

    @defining(entry.findPath("obstacles")) { os =>
        <h4>Obstakels</h4>
        <strong>Vraag:</strong> @os.findPath("question").asText() <br />
        <ul>
            @for(o: JsonNode <- iterableAsScalaIterable(os.findPath("answer"))) {
                <li>@o.findPath("text").asText() (@o.findPath("intensity").asInt())</li>
            }
        </ul>
    }

    @defining(entry.findPath("irrelevantBehavior")) { ib =>
        @if(ib.isObject) {
            <hr />

            <h4>Irrelevant gedrag</h4>
            <strong>Vraag:</strong> @ib.findPath("question").asText() <br />
            <strong>Antwoord:</strong> @ib.findPath("answer").asText() <br />
            @defining(ib.findPath("explanation")) { e =>
                @if(!e.asText().equals("")) {
                    <strong>Uitleg:</strong> @e.asText() <br />
                }
            }
        }
    }

    <hr />

    <a href="@routes.DiaryController.index()" class="btn btn-primary btn-sm">&laquo; Terug</a><br />
    <br />
}

<script type="text/javascript">
    $(function() {
        $('.timestamp').each(function() {
            $this = $(this);
            $this.text(moment.unix($this.text()).format());
        });
    });
</script>
