<style>
.boldtable, .boldtable TD, .boldtable TH 
{ 
font-size:12pt; 
 }

</style>

@main("person") {
 <br>
<h2> Persoonlijke instellingen <span class="glyphicon glyphicon-cog"></span></h2> 
<br>

<table style="width:40%" class="boldtable">
 <form>Achtergrond kleur:
            <select name="backGround" size="1" onChange="updateBackgroundColour(this.value)">
				<option value="000000" style="background-color: Black;color: #FFFFFF;" >Zwart</option>
                <option value="FF0400" style="background-color: Red;">Rood</option>
                <option value="EFE800" style="background-color: Yellow;">Geel</option>
                <option value="05EF00" style="background-color: Green;color: #FFFFFF;">Groen</option>
                <option value="0206FF" style= "background-color: Blue;">Blauw</option>
                <option value="FFC0CB" style="background-color: Pink;">Lichtroze</option>
                <option value="FFFFFF" selected>Wit</option>
               </select>
        </form><br><br>
        
        <form>Tekstkleur:
            <select name="Textcolour" size="1" onChange="updateTextColour(this.value)">
				<option value="000000" style="color: Black;" >Zwart</option>
                <option value="FF0400" style="color: Red;">Rood</option>
                <option value="EFE800" style="color: Yellow;">Geel</option>
                <option value="05EF00" style="color: Green;">Groen</option>
                <option value="0206FF" style= "color: Blue;">Blauw</option>
                <option value="FFC0CB" style="color: Pink;">Lichtroze</option>
                <option value="FFFFFF" selected>Wit</option>
               </select>
        </form><br><br>
        
    
        <form>Lettertype: 
        <select name="font-face" size="1" onChange="updateFont(this.value)">
	    <option value="Arial" selected >Arial</option>
   		 <option value="Verdana" style="font-family: 'Verdana'">Verdana</option>
   		 <option value="Times new Roman" style="font-family: 'Times New Roman'">Times new Roman</option>
   		 <option value="Cambria" style="font-family: 'Cambria'"> Cambria </option>
   		 <option value="Comic Sans MS" style="font-family: 'Comic Sans MS'"> Comic Sans MS </option>
   		 <option value="Lucida Sans" style="font-family: 'Lucida Sans'"> Lucida Sans </option>
   		  
	    </select>
	    </form><br><br>
	    
	    <form>Lettergrootte: 
        <select name="font-size" size="1" onChange="updateFontSize(this.value)">
	    <option value="xx-small" >Klein </option>
	    <option value="x-small" selected>Middelgroot </option>
   		<option value="small" >Groot</option>
   		
	    </select>
	    </form><br><br>
	    
	    <form>Tekst aanpassingen: 
        <select name="font-changes" size="1" onChange="updateFontStyle(this.value)">
        <option value="400" selected > Normaal</option>
	    <option value="900" > Dikgedrukt </option>
	    <option value="italic" > Cursief </option>
	    <option value="underline"> Onderstreept</option>
	    </select>
   		
	    
	    </form>
	    
	    <br><br>
	    <input type="submit"  class="btn btn-primary" value="Opslaan" />
        
}

<script type="text/javascript">
            function updateBackgroundColour(value) {
                document.body.style.background = '#' + value;
            }
            
            function updateFont(value){
            	document.body.style.fontFamily = value;
            }
            
            function updateTextColour(value){
            	document.body.style.color = '#' + value;
            }
            
            function updateFontSize(value){
            	document.body.style.fontSize = value;
            }
            
            function updateFontStyle(value){
            
            if(value== "900"){
           		document.body.style.fontStyle = "normal";
            	document.body.style.fontWeight = "400";
            	document.body.style.textDecoration = "none";
            	document.body.style.fontWeight = value;
            }
            else if(value== "italic"){
           		document.body.style.fontStyle = "normal";
            	document.body.style.fontWeight = "400";
            	document.body.style.textDecoration = "none";
            	document.body.style.fontStyle = value;
            }
            else if(value=="underline"){
            	document.body.style.fontStyle = "normal";
            	document.body.style.fontWeight = "400";
            	document.body.style.textDecoration = "none";
            	document.body.style.textDecoration = value;
            	
            	
            }
            else{
            	document.body.style.fontStyle = "normal";
            	document.body.style.fontWeight = "400";
            	document.body.style.textDecoration = "none";
            	document.body.style.fontWeight = value;
            	}
            }
           
           
        </script>