
<style>
.image{
    width:120px;
    height:120px
}
</style>
<style>
.right {
   position: relative;
    right: 0px;
    width: 300px;
    border: 3px solid #0099FF;
    background-color:lightgrey;
   
}

.boldtable, .boldtable TD, .boldtable TH 
{ 
font-size:12pt; 
 }

</style>


@main("person") {
<br><br>
<h2> Persoonlijke gegevens </h2> 
<br>  

   
<div class="right">
    <img src="@routes.Assets.at("images/default_avatar_male.jpg")" class="image"><br>

    
    <input type="file" id="profile_image">
    <input type="button" value="Opslaan">
    <br>
    </div><br><br>
 
<table style="width:40%" class="boldtable">
  <tr>
    <th>Naam:</th>
    <td>Jaapie</td>		
   
  </tr>
  <tr>
    <th>Achternaam: </th>
    <td>Krekel</td>		

  </tr>
  <tr>
    <th>Gebruikersnaam:</th>
    <td>jaapiekrekel01</td>		
  
  </tr>
  
   <tr>
    <th>Datum geregistreerd: </th>
    <td>23-12-2015</td>		
  
  </tr>
</table>

<br> <class="right"> 
            	<a href="">Wachtwoord wijzigen</a>
        </class>
        <br><br>

 <a class="btn btn-primary" href="">Gegevens wijzigen</a>



}
<script>
$(function(){
    $('#profile_image').change( function(e) {
        
        var img = URL.createObjectURL(e.target.files[0]);
        $('.image').attr('src', img);
    });
});
</script>