@main("login") {
 
<h2> DolVa Registratie </h2> 

<br><br>
<div class="form-group" >
            <label> Naam: </label> <br />
            <input type="text" name="name" class="answer form-control" id="name" style="width: 400px;" />
        </div>
        
  
<div class="form-group" >
            <label> Achternaam: </label> <br />
            <input type="text" name="surname" class="answer form-control" id="surname" style="width: 400px;" />
        </div>       
        
<div class="form-group" >
            <label> Gebruikersnaam : </label> <br />
            <input type="text" name="user" class="answer form-control" id="user" style="width: 400px;" required />
        </div>


<div class="form-group" >
            <label> Wachtwoord : </label> <br />
            <input type="password" name="password" class="answer form-control" id="password1" style="width: 300px;" required />
        </div>
        
<div class="form-group" >
            <label> Herhaling Wachtwoord : </label> <br />
            <input type="password" name="password" class="answer form-control" id="password2" style="width: 300px;" required />
        </div>




<br><br>


}
