body, html {
    height: 101%;
}
.contents {
    padding-top: 60px;
}

div#chat_area {
    display: block;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    overflow-y:scroll;
}

div#chat_area div {
    float: left;
    clear: both;
    background: #ccc;
    border-radius: 5px;
    padding: 3px 5px;
    width: auto;
    margin-bottom: 10px;
}

div#chat_area div.me {
    float: left;
    background: #A0F06E;
}

div#chat_area div.bot {
    float: right;
    background: #81D4D0;
}

.table tr td.items span {
    border: 1px solid #ccc;
    padding: 3px;
}