@main("Chat") {
    <h1>Chat</h1>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div id="chat_area">
            </div>

            <div class="form-group">
                <input class="form-control chatline" type="text" name="chatline" id="chatline" value="Ik wil geen kettinganalyse invullen">
            </div>

            <input class="btn btn-primary submit" type="submit" value="versturen" />
        </div>
    </div>
}

<script type="text/javascript">
    $(function(){
        $(".chatline").bind('keypress', function(e) {
            if(e.keyCode==13){
                handleQuestion();
            }
        });

        $('input.submit').on('click', function(e) {
            handleQuestion();
        });

        var handleQuestion = function() {
            var arr = { category: $(".chatline").val() };
            $(".chatline").val("");

            $("#chat_area").append("<div class=\"me\">" + arr.category + "</div>");
            $("#chat_area").scrollTop($("#chat_area")[0].scrollHeight);

            $.ajax({
                url: "/api/askquestion",
                method: 'post',
                data: JSON.stringify(arr),
                contentType: 'application/json; charset=utf-8',
                success: function( data ) {
                    $("#chat_area").append("<div class=\"bot\">" + data.answer + "</div>");
                    $("#chat_area").scrollTop($("#chat_area")[0].scrollHeight);
                }
            });
        }
    });
</script>