@(message: String)
 
@import helper._
@import controllers.routes.javascript._
 
@main("Welcome to Play 2.0") {
 
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
 
  <input type='text' id='username'/>
  </br>
  <input type='button' value='+' id='getUsername' />
  <br />
  <div id="result" />
 
  <script type="text/javascript" charset="utf-8">
    var getUser = function() {
      var num1 = $("#username").val();

 
      jsRoutes.controllers.Application.getUsername(num1).ajax({
        success: function(data) {
          $("#result").html(data);
        },
        error: function() {
          alert("Error!")
        }
      })
    };
 
    
 
    $('#getUsername').click(getUser);	
    var timer = null;
	$('#username').keydown(function(){
	       clearTimeout(timer); 
	       timer = setTimeout(doStuff, 1000)
	});

	function doStuff() {
		getUser();
	}
  </script>
 
}