@(questionForm:play.data.Form[forms.QuestionForm])

@main("Vraag toevoegen") {
    <h2>Antwoorden toevoegen</h2>

    @helper.form(action = routes.QuestionController.submit()) {
        <div class="form-group">
            @helper.inputText(questionForm("category"), '_label -> "Categorie:")
        </div>

        <div class="form-group" id="answer">
            <label for="answer_0">Antwoord 1:</label> <br />
            <input type="text" name="answer[0]" class="answer form-control" id="answer_0" />
        </div>

        <input type="submit"  class="btn btn-default" value="Verzenden" />
    }
}

<script type="text/javascript">
    $(function(){
        $(document.body).on('keyup', '#answer .answer', function(e){
            $this = $(this);

            if($this.val() != "") {
                $obj = $("#answer");
                $answerObject = $obj.clone();
                $answerObject.find("input")
                    .val("")
                    .attr("name", "answer[" + $(".answer").size() + "]")
                    .attr("id", "answer_" + $(".answer").size());

                $answerObject.find("label")
                    .text("Antwoord: " + ($(".answer").size() + 1))
                    .attr("for", "answer_" + $(".answer").size());;

                $answerObject.insertAfter($obj);

                $obj.attr("id", "");
            }
        });
    });
</script>
