@(model: views.QuestionController.Index) 

@main("Antwoord wijzigen ") {
    <h2> Antwoord verwijderen </h2> <BR>
    
    <table class = "table"> 
   <h4> Gegevens van dit antwoord: </h4> <BR>
   
    <tr>
            <th class="col-lg-2">Categorie</th>
            <th class="col-lg-9">Antwoord</th>
            
        </tr>
   
 @for(a <- model.getAnswers()) {
        <tr>
            <td>@a.getCategory()</td>
            <td>@a.getAnswer()</td>
        </tr>

        
    </table>
    <BR>
   
     @helper.form(action = routes.QuestionController.removeAnswer(a.getId())) {
   <h4> Weet u zeker dat u dit antwoord wil verwijderen? </h4><BR>
   
   <a class="btn btn-default" href="@routes.QuestionController.index()">Annuleren</a>
	<input type="submit"  class="btn btn-primary" value="Verwijderen" />
    
   }
}
}

   



