@(model: views.QuestionController.Index)

@main("Antwoord wijzigen") {
    <h2>Antwoord wijzigen</h2><BR>

    <table class="table">
    
    <h4> Antwoord dat u wilt wijzigen: </h4> 
        <tr>
            <th class="col-lg-2">Categorie</th>
            <th class="col-lg-9">Antwoord</th>
            
        </tr>
       

        @for(a <- model.getAnswers()) {
        <tr>
            <td>@a.getCategory()</td>
            <td>@a.getAnswer()</td>
        </tr>

        
    </table>
    <BR><BR>
    
   @helper.form(action = routes.QuestionController.submitChange(a.getId())) {
<div class="form-group">

	
    <label for="category"> Categorie:</label> <br />
            <input type="text" name="category" class="answer form-control" id="category"  value="@a.getCategory()">
</div>

  <div class="form-group" id="answer">
            <label for="answer"> Antwoord:</label> <br />
            <input type="text" name="answer" class="answer form-control" id="answer" value="@a.getAnswer()"/>
        </div>
  	 
	
	<BR><BR>
<a class="btn btn-default" href="@routes.QuestionController.index()">Annuleren</a>
<input type="submit"  class="btn btn-primary" value="Wijzig" />
}
}
    
}
