@(model: views.QuestionController.Index)

@main("Vragen overzicht") {
    <h2>Antwoorden overzicht</h2> <BR>

    <table class="table">
        <tr>
            <th class="col-lg-2">Categorie</th>
            <th class="col-lg-9">Antwoord</th>
            <th class="col-lg-1">&nbsp;</th>
             <th class="col-lg-1">&nbsp;</th>
        </tr>
        @if(model.getAnswers().isEmpty) {
        <tr>
            <td colspan="3">Er zijn nog geen vragen aangemaakt.</td>
        </tr>
        }

        @for(a <- model.getAnswers()) {
        <tr>
            <td>@a.getCategory()</td>
            <td>@a.getAnswer()</td>
            
            <td class="right">
                <a href="@routes.QuestionController.edit(a.getId())">Wijzigen</a>
             
            </td>
            <td class="right"> 
            	<a href="@routes.QuestionController.delete(a.getId())">Verwijderen</a>
        </tr>
        }
    </table>

    <a class="btn btn-primary" href="@routes.QuestionController.add()">Antwoorden toevoegen</a>
}
