<style>
.right {
   position: relative;
    right: 0px;
    width: 300px;
    border: 3px solid #0099FF;
    background-color:lightgrey;
   
}
</style>
@main("Welkom") {

 <div style="background-color:#3366cc; color:white; padding:20px;">

<h2>Welkom bij DolVa! </h2><br>

<p> DolVa is een self-help training voor emotionele eters. <br><br>
    Met DolVa kun je verscheidende oefeningen doen waardoor meer inzicht wordt verkregen over uw eetgewoontes en uw emotionele staat<br>
    Er is ook een chatbox aan wie u vragen kan stellen over de verschillende onderwerpen die u tegenkomt in DolVa </p>
    
</div> 
<br>    
<br>
<div class="form-group" >
            <label> Gebruikersnaam : </label> <br />
            <input type="text" name="user" class="answer form-control" id="user" style="width: 400px;" required />
        </div>
        
   <div class="form-group" >
            <label> Wachtwoord : </label> <br />
            <input type="password" name="password" class="answer form-control" id="password" style="width: 300px;" required />
        </div>
        
        <class = "right"> 
            	<a href="">Wachtwoord vergeten</a>
        </class><BR><br>

 <a class="btn btn-primary" href="">Inloggen</a>
    
    
    <a class="btn btn-default" href="@routes.LoginController.newUser()">Registreren</a>
    
}
