@import helper._ 
@(model: views.AuthenticationController.View)


@main("Welkom") {
	<style>
	.right {
	   position: relative;
	    right: 0px;
	    width: 300px;
	    border: 3px solid #0099FF;
	    background-color:lightgrey;
	   
	}
	</style>
	 <div style="background-color:#0066CC; color:white; padding:20px;">
	@if(!model.isThereAnAccount) {
		<h2>	Welkom bij DolVa! </h2><br>
	}else{
		 
		<h2> 	Welkom @model.getAccount().getName() </h2><br>
		
	}
	<p> DolVa is een self-help training voor emotionele eters. <br><br>
	    Met DolVa kun je verscheidende oefeningen doen waardoor meer inzicht wordt verkregen over uw eetgewoontes en uw emotionele staat<br>
	    Er is ook een chatbox aan wie u vragen kan stellen over de verschillende onderwerpen die u tegenkomt in DolVa </p>
	    
	</div> 
	<br>    
	<br>
	
	@if(!model.isThereAnAccount) {
		@helper.form(action = routes.AuthenticationController.login()) {
			
		<div class="form-group clearfix">
			<label> Gebruikersnaam: </label> <br /> <input type="text" name="user"
			class="answer form-control pull-left" id="user" style="width: 400px;"
			required />
		</div>


		<div class="form-group">
			<label> Wachtwoord: </label> <br /> <input type="password"
			name="password" class="answer form-control" id="password"
			style="width: 300px;" required />
		</div>
		        
		<class="right"> 
			<a href="">Wachtwoord vergeten</a>
		</class><BR><br>
		
			<input type="submit" class="btn btn-primary" id="submitButton" value="Inloggen" />
		    
		    
	    <a class="btn btn-default" href="@routes.AuthenticationController.register()">Registreren</a>
	 	}   
	}
}
