@main("Welkom") {

 <div style="background-color:#0066CC; color:white; padding:20px;">

<h2>Er is een fout opgetreden! </h2><br>

<p>
    U bent niet ingelogd of mag deze pagina niet bezoeken. </p>
    
</div> 
<br>    
<br>
<div class="form-group" >
            <label> Gebruikersnaam : </label> <br />
            <input type="text" name="user" class="answer form-control" id="user" style="width: 400px;" required />
        </div>
        
   <div class="form-group" >
            <label> Wachtwoord : </label> <br />
            <input type="password" name="password" class="answer form-control" id="password" style="width: 300px;" required />
        </div>
        
        <class="right"> 
            	<a href="">Wachtwoord vergeten</a>
        </class><BR><br>

 <a class="btn btn-primary" href="@routes.AuthenticationController.login()">Inloggen</a>
    
    
    <a class="btn btn-default" href="@routes.AuthenticationController.register()">Registreren</a>
    
}
