@(model: views.ControlPanelController.ViewAll) 
@main("Admin") {


<h2>Wijzigingen voor gebruiker: @for(a <- model.getAccounts()){
		@a.getUsername() 
</h2>
<BR>

<div class="form-group">
	<label> Naam: </label> <br /> <input type="text" name="name"
		class="answer form-control" id="name" value="@a.getName()" style="width: 400px;" />
</div>

<div class="form-group">
	<label> Achternaam: </label> <br /> <input type="text" name="surname" value="@a.getSurname()"
		class="answer form-control" style="width: 400px;" required />
</div>

<label> Functie: </label>
<select name="Functies"> @for((f, i) <-
	Array("Admin","Gebruiker","Moderator","Anders").zipWithIndex) {
	<label>	
		<OPTION @if(a.getRole().equals(f)){ selected }><span>@f</span>
		</OPTION>
</label> }
</select>
}

<input type="submit" class="btn btn-primary" value="Verzenden" />

@if(model.getAccounts().isEmpty) { Er is iets fout gegaan, ga terug naar
de hoofdpagina en probeer het nogmaals. } }
