@import helper._ 
@import controllers.routes.javascript._ 
@main("Adduser") {
<h2>Gebruiker Toevoegen</h2>
<BR>
@helper.form(action = routes.ControlPanelController.submit()) {


<script type="text/javascript"
	src="@routes.Application.javascriptRoutes"></script>
<div class="form-group">
	<label> Naam: </label> <br /> <input type="text" name="name"
		class="answer form-control" id="name" style="width: 400px;" required />
</div>

<div class="form-group">
	<label> Achternaam: </label> <br /> <input type="text" name="surname"
		class="answer form-control" style="width: 400px;" required />
</div>

<div class="form-group clearfix">
	<label> Gebruikersnaam: </label> <br /> <input type="text" name="user"
		class="answer form-control pull-left" id="user" style="width: 400px;"
		required />
	<div id="result" class="pull-left" />
</div>
</div>


<div class="form-group">
	<label> Wachtwoord: </label> <br /> <input type="password"
		name="password" class="answer form-control" id="password"
		style="width: 300px;" required />
</div>

<div class="form-group clearfix">
	<label> Wachtwoord: </label> <br /> <input type="password"
		class="answer form-control pull-left" id="password2"
		style="width: 300px;" onkeyup="comparePW(); return false" required />
	<div id="password_result" class="pull-left" /> </div>
</div>

<div class="form-group">
	<label> Datum registratie: </label> <br /> <input id="date"
		name="date" readonly>
</div>
<BR>


<label> Functie: </label>
<select name="Functies"> @for((f, i) <-
	Array("Admin","Gebruiker","Moderator","Anders").zipWithIndex) {
	<label>
		<OPTION @if(i==1){selected}> <span>@f</span> </OPTION>
</label> }
</select>

<input type="submit" class="btn btn-primary" id="submitButton" value="Verzenden" />
} }


<script type="text/javascript" charset="utf-8">
	var d = new Date();
	document.getElementById("date").value = d.toDateString();

	var getUser = function() {
		var num1 = $("#user").val();

		jsRoutes.controllers.Application.getUsername(num1).ajax({
			
			success : function(data) {
				$("#result").html(data);
			},
			error : function() {
				alert("Error!")
			}
		})
	};

	function comparePW() {
		var pass1 = document.getElementById('password');
		var pass2 = document.getElementById('password2');
		var message = document.getElementById('password_result');
		if(pass1.value == pass2.value)
		{
			message.innerHTML = "Wachtwoord komt overeen.";
			document.getElementById("submitButton").disabled = false;
		}
		else
		{
			message.innerHTML = "Wachtwoord komt niet overeen.";
			document.getElementById("submitButton").disabled = true;
		}
	}
	
	var timer = null;
	$('#user').keydown(function() {
		clearTimeout(timer);
		timer = setTimeout(doStuff, 1000)
	});

	function doStuff() {
		getUser();
	}


	function validation() {
		
	}

	
	
</script>