@(model: views.ControlPanelController.ViewAll)
@main("Admin") {
 
 
 <h2>Control Panel voor admin.</h2>
<BR>
    <table class="table">
        <tr>
            <th class="col-lg-2">Naam</th>
            <th class="col-lg-3">Achternaam</th>
            <th class="col-lg-5">Aanmaak datum</th>
            <th class="col-lg-6">Gebruikersnaam</th>
            <th class="col-lg-7">Rol</th>
            <th class="col-lg-1">&nbsp;</th>
            <th class="col-lg-1">&nbsp;</th>
        </tr>
        
        @if(model.getAccounts().isEmpty) {
        <tr>
            <td colspan="7">Er zijn nog geen gebruikers of er is iets fout gegaan.</td>
        </tr>
        }
        
        @for(a <- model.getAccounts()) {
        <tr>
            <td>@a.getName()</td>
            <td>@a.getSurname()</td>
            <td>@a.getDate()</td>
            <td>@a.getUsername()</td>
            <td>@a.getRole()</td>
            <td class="right"><a href="@routes.ControlPanelController.edit(a.getUsername())"/>Wijzigen</a></td>
            <td class="right"><a href="@routes.ControlPanelController.delete(a.getUsername())"/>Verwijderen</a></td>
        </tr>
        }
    </table>
    <a class="btn btn-primary" href="@routes.ControlPanelController.form()">Add new user</a>
} 
