
@main("test") {
    <h1> Maaltijd Toevoegen </h1>


	<BR>
	
	  @helper.form(action = routes.TestController.submit()) {
	 	 <div class="form-group" id="date"sw>
            <label> Datum:</label> <br />
            <input type="date" name="date" class="answer form-control" id="answer_0" style="width: 200px;" />
        </div>
	
	
	 <div class="form-group" id="meal"sw>
            <label> Gerecht/Tussendoortje:</label> <br />
            <input type="text" name="gerecht" class="answer form-control" id="answer_0" />
        </div>
        
         <div class="form-group" id="waarde"sw>
            <label> Aantal Calorie&#235n:</label> <br />
            <input type="number" min="0" max="10000" value="0" name="calories" class="answer form-control" id="answer_0" style="width: 200px;" />
        </div>
        
        
					 <input type="submit"  class="btn btn-primary" value="Verzenden" />
	}
}




