@(model: views.TestController.Index)
@main("test") {
 
 
 <h2>Eetdagboek</h2>
<BR>

    <table class="table">
        <tr>
            <th class="col-lg-2">Datum (jjjj-mm-dd)</th>
            <th class="col-lg-9">Gerecht/Tussendoortje</th>
            <th class="col-lg-2">Calorie&#235n</th>
         
   
   
     </tr>
       

        @for(m <- model.getMeals()) {
        <tr>
            <td>@m.getDate()</td>
            <td>@m.getMeal()</td>
            <td>@m.getCalories()</td>
        </tr>
        }
     
    </table>

    <a class="btn btn-primary" href="@routes.TestController.add()">Maaltijd Toevoegen</a>
    
   
}
