
@main("calories") {
    <h1> Product/Gerecht Toevoegen </h1>


	<BR>
	 @helper.form(action = routes.CaloriesController.submit()) {
	 	 <div class="form-group" id="meal"sw>
            <label> Product/Gerecht:</label> <br />
            <input type="text" name="gerecht" class="answer form-control" id="answer_0" />
        </div>
        
         <div class="form-group" id="waarde"sw>
            <label> Eenheid:</label> <br />
            <input type="text" name="calories" value="100 gram" class="answer form-control" id="answer_0" style="width: 200px;" />
        </div>
        
        	 <div class="form-group" id="date"sw>
            <label> kcal:</label> <br />
            <input type="number" min="0" max="10000" value="0" name="kcal" class="answer form-control" id="answer_0" style="width: 200px;" />
        </div>
        
        	 <div class="form-group" id="date"sw>
            <label> kJ:</label> <br />
            <input type="number" min="0" max="10000" value="0" name="kJ" class="answer form-control" id="answer_0" style="width: 200px;" />
        </div>
		<input type="submit"  class="btn btn-primary" value="Verzenden" />
	}

 }  



