@(model: views.CaloriesController.Index)

@main("calories") {
<h2>Product/Gerecht Wijzigen</h2>
<BR>

   <table class="table">
 <tr>
            <th class="col-lg-9">Product/Gerecht</th>
            <th class="col-lg-1">Eenheid</th>
            <th class="col-lg-1"> kcal </th> 
            <th class"col-lg-1"> kJ </th>                
      </tr> 
 @for(p <- model.getProducts()) {
        <tr>
            <td>@p.getProduct()</td>
            <td>@p.getUnity()</td>
            <td>@p.getKcal()</td>
            <td>@p.getKj()</td> 
            
        </tr>
        



</table>
<br><br>

 <div class="form-group" id="date"sw>
            <label> Product/Gerecht:</label> <br />
            <input type="text" name="meal" class="answer form-control" id="answer_0" value="@p.getProduct()" />
        </div>
	
	
	 <div class="form-group" id="meal"sw>
            <label> Eenheid </label> <br />
            <input type="text" name="eenheid" value="@p.getUnity()" class="answer form-control" id="answer_0" style="width: 200px;"/>
        </div>
	
	<div class="form-group" id="meal"sw>
            <label> kcal </label> <br />
            <input type="number" min="0" max="10000" value="@p.getKcal()" name="kcal" class="answer form-control" id="answer_0" style="width: 200px;"/>
        </div>   
        
        <div class="form-group" id="meal"sw>
            <label> kcal </label> <br />
            <input type="number" min="0" max="10000" value="@p.getKj()" name="kcal" class="answer form-control" id="answer_0" style="width: 200px;"/>
        </div>     
<BR><BR>
 <a class="btn btn-default" href="@routes.CaloriesController.index()">Annuleren</a>
<input type="submit"  class="btn btn-primary" value="Wijzig" />

}
}
