@(model: views.CaloriesController.Index)
@main("calories") {

    <h1> Calorie&#235n Overzicht  </h1>

   <br>
   <table class="table">
 <tr>
            <th class="col-lg-9">Product/Gerecht</th>
            <th class="col-lg-1">Eenheid</th>
            <th class="col-lg-1"> kcal </th> 
            <th class"col-lg-1"> kJ </th>                
      </tr> 
          @for(p <- model.getProducts()) {
        <tr>
            <td>@p.getProduct()</td>
            <td>@p.getUnity()</td>
            <td>@p.getKcal()</td>
            <td>@p.getKj()</td> 
              <td class="right"> 
               <a href="@routes.CaloriesController.edit(p.getId())">Wijzigen</a> 
             	</td> 
  			  <td class="right"> 
              <a href="@routes.CaloriesController.index()">Verwijderen</a>
              </td> 
        </tr>
        }
 
</table>
<a class="btn btn-primary" href="@routes.CaloriesController.addCalories()">Product/Gerecht Toevoegen</a>
}
