@(model: views.SynonymController.IndexModel) 
@main("Synoniem aanmaken ") {
    <h2> Woord verwijderen </h2> <BR>
    
    <table class = "table"> 
   <h4> Gegevens van dit woord: </h4> 
   
   <table class="table">
        <tr>
            <th class="col-lg-2">Woord</th>
            <th class="col-lg-8">Synoniemen</th>
             </tr>
             @for(a <- model.getWords()) {
             <tr>
            <td>@a.getRoot()</td>
           <td class="items">@for(s <- a.getSynonyms()) { <span>@s</span> }</td>
           
        </tr>
             
         </table>    
             
    @helper.form(action = routes.SynonymController.deleteWord(a.getId())) {
   <h4> Weet u zeker dat u dit antwoord wil verwijderen? </h4><BR>
   
   <a class="btn btn-default" href="@routes.SynonymController.index()">Annuleren</a>
	<input type="submit"  class="btn btn-primary" value="Verwijderen" />
    
   }       
   }          
            
}

   



