@(word:Word)

@main("Synoniemen aanmaken") {
    <h2> Synoniem Toevoegen </h2> 
    
    <h3>Synoniemen aanmaken voor: @word.getRoot()</h3><BR>

    <form method="post" action="@routes.SynonymController.submit()">
        <table class="table table-hover">
            <tr>
                <th class="col-lg-10">Synoniem</th>
                <th class="col-lg-2">&nbsp;</th>
            </tr>
            @if(word.getSynonyms().isEmpty) {
            <tr>
                <td colspan="2">Er zijn geen synoniemen gevonden voor dit woord.</td>
            </tr>
            }
            @for(s <- word.getSynonyms()) {
            <tr>
                <td>@s</td>
                <td><a href="@routes.SynonymController.delete(word.getId(), s)" class="btn btn-danger form-control">verwijderen</a></td>
            </tr>
            }
            <tr>
                <td>
                    <input type="text" value="" class="form-control" name="synonym">
                </td>
                <td class="text-middle">
                    <input type="hidden" value="@word.getId()" name="wordid">
                    <input type="submit" value="toevoegen" class="btn btn-primary form-control" />
                </td>
            </tr>
        </table>
    </form>

    <a href="@routes.SynonymController.index()" class="btn btn-default">Naar overzicht</a>
}
