@(model:views.SynonymController.IndexModel)

@main("Woorden overzicht") {
    <h2>Woorden overzicht</h2><BR>

    <table class="table">
        <tr>
            <th class="col-lg-2">Woord</th>
            <th class="col-lg-8">Synoniemen</th>
            <th class="col-lg-3">&nbsp;</th>
            <th class="col-lg-1">&nbsp;</th>
        </tr>
        @if(model.getWords().isEmpty) {
        <tr>
            <td colspan="3">Er zijn nog geen woorden aangemaakt.</td>
        </tr>
        }

        @for(a <- model.getWords()) {
        <tr>
            <td>@a.getRoot()</td>
            <td class="items">@for(s <- a.getSynonyms()) { <span>@s</span> }</td>
            <td class="right">
                <a href="@routes.SynonymController.edit(a.getId())">Toevoegen/Wijzigen</a>
            </td>
            <td class="right">
                <a href="@routes.SynonymController.remove(a.getId())">Verwijderen</a>
            </td>
        </tr>
        }
    </table>
}
