@main("Kettinganalyse") {
    <h2>Kettinganalyse van probleemgedrag</h2>

    <form>
        <div class="form-group">
            <label for="name">Jouw naam</label>
            <input type="text" class="form-control required" id="name" />
        </div>

        <div class="form-group">
            <label for="analysis-date">Datum kettinganalyse</label>
            <div class="input-group datetimepicker">
                <input type="text" class="form-control required" id="date"  name="date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="behavior-date">Datum probleemgedrag</label>
            <div class="input-group datetimepicker">
                <input type="text" class="form-control required" id="behavior-date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <br />

        <img src="@routes.Assets.at("images/kettinganalyse.png")" ><br />

        <br />

        <h3>Stap 1 - Probleemgedrag </h3>

        <div class="form-group" id="problem-behavior">
            <span>Ik had een / ik heb</span><br />
            <select class="form-control">
                <option class="intensity">Eetaanval/eetbui</option>
                <option>Stiekem gegeten</option>
                <option>Alle restjes opgegeten</option>
                <option>Gedachteloos gegeten</option>
                <option>Fastfood gegeten</option>
                <option>Te veel gegeten (avondeten)</option>
                <option>De behoefte te geven aan een eetbui - maar het niet gedaan</option>
                <option>Eetbui, volgend op compensatie van een vorige eetbui</option>
            </select>
        </div>

        <div style="margin-left: 40px">
            <div id="problem-behavior-intensity" style="display: block">
                <strong>Intensiteit</strong><br />
                <label><input type="radio" name="intensiteit" checked /> <span>Klein</span></label><br />
                <label><input type="radio" name="intensiteit" /> <span>Klein, maar wel objectief: snaaiaanval</span></label><br />
                <label><input type="radio" name="intensiteit" /> <span>Groot</span></label><br />
            </div>

            <div id="problem-behavior-food">
                <strong>Wat was jouw eetbui/snaai voedsel: klik alles aan wat je hebt gegeten</strong><br />
                <label><input type="checkbox" /> <span>Chocolade</span></label><br />
                <label><input type="checkbox" /> <span>Koekjes</span></label><br />
                <label><input type="checkbox" /> <span>Chips</span></label><br />
                <label><input type="checkbox" /> <span>Snoep</span></label><br />
                <label><input type="checkbox" /> <span>IJs</span></label><br />
                <label><input type="checkbox" /> <span>Brood</span></label><br />
                <label><input type="checkbox" /> <span>Van alles; ik wil het niet specificeren</span></label><br />
            </div>
        </div>

        <hr />

        <h3>Stap 2 - Aanleiding (uitlokkende gebeurtenis)</h3>
        <div class="form-group" id="provocation">
            <span>
                Welke gebeurtenis vond er plaats? Wat gebeurde er?<br />
                Wanneer begon het?<br />
                Wat was er aan de hand?
            </span><br />

            <textarea rows="4" class="form-control required"></textarea>
        </div>

        <hr />

        <h3>Stap 3 - Kwetsbaar makende factoren</h3>

        <div id="vulnerability-factors">
            <span>Welke van deze factoren maakten je kwetsbaar voor de uitlokkende gebeurtenis?</span><br />

            <div class="category">
                <span><strong>Gerelateerd met voeding</strong></span><br />
                <label><input type="checkbox" /> <span>Ik had nog niet gegeten</span></label><br />
                <label><input type="checkbox" /> <span>Ik had te weinig gegeten</span></label><br />
                <label><input type="checkbox" /> <span>Ik was op dieet</span></label><br />
            </div>

            <div class="category">
                <span><strong>Lichamelijke gesteldheid</strong></span><br />
                <label><input type="checkbox" /> <span>Ik voelde me niet lekker / ziek</span></label><br />
                <label><input type="checkbox" /> <span>Ik had griep</span></label><br />
                <label><input type="checkbox" /> <span>Ik was verkouden</span></label><br />
                <label><input type="checkbox" /> <span>Ik had buikpijn</span></label><br />
                <label><input type="checkbox" /> <span>Ik was gevallen / gestoten en heb me bezeerd</span></label><br />
                <label><input type="checkbox" /> <span>Ik heb een ongeval gehad</span></label><br />
            </div>

            <div class="category">
                <span><strong>Andere omstandigheden</strong></span><br />
                <label><input type="checkbox" /> <span>Drugs gebruikt</span></label><br />
                <label><input type="checkbox" /> <span>Alcohol gedronken</span></label><br />
                <label><input type="checkbox" /> <span>Medicijnen gebruikt</span></label><br />
            </div>

            <div class="category">
                <span><strong>Omgeving/familie</strong></span><br />
                <label><input type="checkbox" /> <span>Iemand dichtbij in de familie was ziek</span></label><br />
                <label><input type="checkbox" /> <span>Gebeurtenis op straat</span></label><br />
                <label><input type="checkbox" /> <span>Slecht gesprek met mijn baas</span></label><br />
                <label><input type="checkbox" /> <span>Vernederd door docent</span></label><br />
                <label><input type="checkbox" /> <span>Gepest door mede-student/collega</span></label><br />
                <label><input type="checkbox" /> <span>Ik moest ineens terugdenken aan iets emotioneels</span></label><br />
            </div>
        </div>

        <hr />

        <h3>Stap 4 - Ketting van gebeurtenissen</h3>

        <div id="event-chain">
            <p>
                Vul hier in hoe het proces tussen aanleiding en probleemgedrag precies verliep. Elk type moet ten minste één keer voorkomen.<br />
                Je kunt bij elk stukje (indien van toepassing) ook aangeven wat je had kunnen doen om het probleemgedrag te voorkomen.
            </p>

            <div class="row">
                <div class="col-xs-2"><strong>Type</strong></div>
                <div class="col-xs-5"><strong>Invoer</strong></div>
                <div class="col-xs-5"><strong>Preventie</strong></div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-2"><span style="position: relative; top: 8px">Gedrag</span></div>
                <div class="col-xs-5">
                    <select class="form-control" id="event-chain-activity">
                        <optgroup label="ik was op mijn werk">
                            <option>ik was in een vergadering</option>
                            <option>werkoverleg met leiddinggevende</option>
                            <option>overleg met projectgroep</option>
                            <option>ik zat achter mijn computer en werd aangesproken door college/leidinggevende</option>
                        </optgroup>
                        <optgroup label="ik was op school">
                            <option>college aan het volgen</option>
                            <option>ik was aan het werk met mijn schoolprojectgroep</option>
                            <option>ik zat in de kantine</option>
                        </optgroup>
                        <optgroup label="ik was thuis">
                            <option>tv aan het kijken</option>
                            <option>bezig met iets op de computer/tablet</option>
                            <option>bellen/appen</option>
                            <option>eten koken</option>
                            <option>opruimen of schoonmaken</option>
                        </optgroup>
                        <optgroup label="ik was (iets met vrijetijd):">
                            <option>bezig met sporten</option>
                            <option>bezig met hobby</option>
                            <option>boodschappen doen</option>
                            <option>ah wandelen</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="event-chain-activity-prevention" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-2"><span style="position: relative; top: 8px">Gebeurtenis</span></div>
                <div class="col-xs-5">
                    <input type="text" class="form-control required" id="event-chain-event" />
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="event-chain-event-prevention" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-2"><span style="position: relative; top: 8px">Gewaarwording</span></div>
                <div class="col-xs-5">
                    <select class="form-control" id="event-chain-sensation">
                        <option>tintelingen</option>
                        <option>kippenvel</option>
                        <option>sneller of langzamer worden van hartslag</option>
                        <option>versnelde ademhaling, oppervlakkige ademhaling</option>
                        <option>verhoogde spierspanning</option>
                        <option>gevoel van uitputting</option>
                        <option>krachtsverlies</option>
                        <option>transpireren</option>
                        <option>lichaamstemperatuur stijgt</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="event-chain-sensation-prevention" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-2"><span style="position: relative; top: 8px">Gevoel</span></div>
                <div class="col-xs-5">
                    <select class="form-control" id="event-chain-feeling">
                        <optgroup label="Boos">
                            <option>rancuneus</option>
                            <option>verbolgen</option>
                            <option>woedend</option>
                            <option>verontwaardigd</option>
                            <option>razend, kokend</option>
                            <option>kwaad, furieus</option>
                        </optgroup>

                        <optgroup label="Opgelaten">
                            <option>verward</option>
                            <option>schuldig</option>
                            <option>gegeneerd</option>
                            <option>beschaamd</option>
                            <option>ongemakkelijk</option>
                            <option>opgelaten</option>
                        </optgroup>

                        <optgroup label="Geërgerd">
                            <option>ontstemd</option>
                            <option>geïrriteerd</option>
                            <option>ontevreden</option>
                            <option>ongeduldig</option>
                            <option>gefrustreerd</option>
                            <option>verontwaardigd</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="event-chain-feeling-prevention" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-2"><span style="position: relative; top: 8px">Gedachte</span></div>
                <div class="col-xs-5">
                    <select class="form-control" id="event-chain-cognition">
                        <option>ik doe er niet toe</option>
                        <option>ik ben niet veilig</option>
                        <option>ik ben niet goed genoeg zoals ik ben</option>
                        <option>ik hoor er niet bij</option>
                        <option>ik deug niet</option>
                        <option>ik kan het niet (aan)</option>
                        <option>ik ben kwetsbaar</option>
                        <option>ik ben machteloos</option>
                        <option>ik ben schuldig</option>
                        <option>ik ben alleen</option>
                        <option>ik ben niet de moeite waard</option>
                        <option>ik ben slachtoffer</option>
                        <option>ik ben niets waard</option>
                        <option>ik ben niet belangrijk</option>
                        <option>ik ben een mislukkeling</option>
                        <option>ik ben slecht</option>
                        <option>Ik ben waardeloos</option>
                        <option>ik ben niet om van te houden</option>
                        <option>ik ben dom</option>
                        <option>ik word niet gesteund</option>
                    </select>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" id="event-chain-cognition-prevention" />
                </div>
            </div>

        </div>

        <hr />

        <h3>Stap 5 - Gevolgen en consequenties</h3>

        <div class="form-group" id="consequences">
            <p>
                Vul hier in wat precies de (schadelijke) gevolgen waren van je probleem gedrag.<br />
                Je kunt bij elk gevolg (indien van toepassing) ook aangeven wat je gaat doen om de schade ervan te repareren.
            </p>

            <div class="row">
                <div class="col-xs-6"><strong>Invoer</strong></div>
                <div class="col-xs-6"><strong>Reparatie</strong></div>
            </div>

            <br />

            <div class="row consequence">
                <div class="col-xs-6"><textarea rows="2" class="form-control text required"></textarea></div>
                <div class="col-xs-6"><textarea rows="2" class="form-control repair"></textarea></div>
            </div>

            <br />

            <div class="row consequence">
                <div class="col-xs-6"><textarea rows="2" class="form-control text"></textarea></div>
                <div class="col-xs-6"><textarea rows="2" class="form-control repair"></textarea></div>
            </div>

            <br />

            <div class="row consequence">
                <div class="col-xs-6"><textarea rows="2" class="form-control text"></textarea></div>
                <div class="col-xs-6"><textarea rows="2" class="form-control repair"></textarea></div>
            </div>
        </div>

        <hr />

        <h3>Stap 6 - Preventie strategie</h3>

        <div class="form-group" id="prevention-strategy">
            <span>De volgende keer dat me dit overkomt, ga ik:</span><br />

            <textarea rows="4" class="form-control required"></textarea>
        </div>

        <hr />

        <div class="form-group">
            <button type="button" class="btn btn-success" id="submit" data-loading-text="bezig...">Verzenden</button>
        </div>
    </form>
}
<style>
    label {
        font-weight: normal;
    }

    textarea {
        resize: none;
    }

    .slider {
        margin-left: 25px;
    }

    .slider-track-low, .slider-track-high {
        background: #eee;
    }

    .slider-selection {
        background: #ddd;
    }
</style>



<script type="text/javascript">
    $(function() {
        var format = 'HH:mm,  YYYY-MM-DD';
        $('.datetimepicker').datetimepicker({
            format: format,
            sideBySide: true
        });
        $('.datetimepicker>input').val(moment().format(format));

        $('#problem-behavior').find('select').change(function() {
            var $extraOptions = $('#problem-behavior-intensity');
            if ($(this).find('option.intensity:selected').length == 1) {
                $extraOptions.show();
            } else {
                $extraOptions.hide();
            }
        });

        $('#vulnerability-factors').find('input').change(function() {
            var $this = $(this);
            if ($this.prop('checked')) {
                $this.parent('label').after('<div class="importance"></div>');
                $this.parent('label').nextUntil('br', 'div.importance').slider({
                    min: 1,
                    max: 5,
                    step: 1,
                    value: 3
                });
            } else {
                $this.parent('label').nextUntil('br').remove();
            }
        });

        $('button#submit').click(function() {
            $(this).button('loading');
            submitChain(function() {
                $(this).button('reset');
            }.bind(this));
        });

        var submitChain = function(callback) {
            if (!validate()) {
                alert('Vul a.u.b. alle velden in!');
                callback();
                return;
            }

            var $problemBehaviorSelected = $('#problem-behavior').find('option:selected');
            var problemBehaviorAnswer = [$problemBehaviorSelected.text()];
            if ($problemBehaviorSelected.hasClass('intensity')) {
                problemBehaviorAnswer.push($('#problem-behavior-intensity').find('input:checked').siblings('span').text());
            }

            var problemBehaviorFood = [];
            $('#problem-behavior-food').find('input:checked').each(function() {
                problemBehaviorFood.push($(this).siblings('span').text());
            });

            var vulnerabilityFactorsAnswer = [];
            $('#vulnerability-factors').find('.category').each(function() {
                var $this = $(this);
                var category = {
                    category: $this.children('span').text(),
                    factors: []
                };

                $this.find('input:checked').each(function() {
                    category.factors.push({
                        text: $(this).siblings('span').text(),
                        importance: $(this).parent('label').nextUntil('br', 'div.importance').data('value')
                    });
                });

                if (category.factors.length > 0) {
                    vulnerabilityFactorsAnswer.push(category);
                }
            });

            var consequences = [];
            $('#consequences').find('.consequence').each(function() {
                var text = $(this).find('textarea.text').val();
                var repair = $(this).find('textarea.repair').val();
                if (text !== undefined && text !== "") {
                    var consequence = {text: text};
                    if (repair !== undefined && repair !== "") {
                        consequence.repair = repair;
                    }
                    consequences.push(consequence);
                }
            });

            var toSend = {
                name: $('#name').val(),
                analysisDate: moment($('#analysis-date').val()).unix(),
                behaviorDate: moment($('#behavior-date').val()).unix(),
                problemBehavior: {
                    question: $('#problem-behavior').children('span').text(),
                    answer: problemBehaviorAnswer,
                    food: problemBehaviorFood
                },
                provocation: {
                    question: $('#provocation').children('span').text(),
                    answer: $('#provocation').find('textarea').val()
                },
                vulnerabilityFactors: {
                    question: $('#vulnerability-factors').children('span').text(),
                    answer: vulnerabilityFactorsAnswer
                },
                eventChain: {
                    question: $('#event-chain').children('p').text(),
                    answer: [
                        {
                            type: 'activity',
                            text: $('#event-chain-activity').find('option:selected').text(),
                            prevention: $('#event-chain-activity-prevention').val()
                        },
                        {
                            type: 'event',
                            text: $('#event-chain-event').val(),
                            prevention: $('#event-chain-event-prevention').val()
                        },
                        {
                            type: 'sensation',
                            text: $('#event-chain-sensation').find('option:selected').text(),
                            prevention: $('#event-chain-sensation-prevention').val()
                        },
                        {
                            type: 'feeling',
                            text: $('#event-chain-feeling').find('option:selected').text(),
                            prevention: $('#event-chain-feeling-prevention').val()
                        },
                        {
                            type: 'cognition',
                            text: $('#event-chain-cognition').find('option:selected').text(),
                            prevention: $('#event-chain-cognition-prevention').val()
                        }
                    ]
                },
                consequences: {
                    question: $('#consequences').children('p').text(),
                    answer: consequences
                },
                preventionStrategy: {
                    question: $('#prevention-strategy').children('span').text(),
                    answer: $('#prevention-strategy').find('textarea').val()
                }
            };

            $.ajax({
                url: '/api/chain',
                method: 'POST',
                data: JSON.stringify(toSend),
                contentType: 'application/json; charset=utf-8',
                success: function() {
                    window.location = '@routes.ChainController.index()';
                },
                error: function() {
                    callback();
                }
            });
        };
        
        var validate = function() {
            var emptyInputs = $('input.required').filter(function() { return $(this).val() === ''; });
            if (emptyInputs.length > 0) {
                return false;
            }

            if ($('#problem-behavior-food').find('input:checked').length <= 0) {
                return false;
            }

            if ($('#vulnerability-factors').find('input:checked').length <= 0) {
                return false;
            }
            
            return true;
        };
    });
</script>
