@import com.fasterxml.jackson.databind.JsonNode

@(chains: JsonNode)

@main("Kettinganalyse") {
    <h1>Kettinganalyse</h1>

    <hr />

    <p>Welkom bij de kettinganalyse!</p>

    <p><a href="@routes.ChainController.form()" class="btn btn-primary">Klik hier om te beginnen</a></p>

    <hr />

    <h3>Vorige kettinganalyses</h3>

    <table class="table table-striped">
        <thead>
            <tr><th>Naam</th> <th>Datum analyse</th> <th>Datum probleemgedrag</th> <th></th></tr>
        </thead>

        <tbody>
            @for(c: JsonNode <- iterableAsScalaIterable(chains.findPath("items"))) {
                <tr>
                    <td>@c.findPath("name").asText()</td>
                    <td class="timestamp">@c.findPath("analysisDate").asText()</td>
                    <td class="timestamp">@c.findPath("behaviorDate").asText()</td>
                    <td class="text-right">
                        <a href="@routes.ChainController.view(c.findPath("id").asLong())" class="btn btn-primary btn-sm">&raquo;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script type="text/javascript">
    $(function() {
        $('.timestamp').each(function() {
            $this = $(this);
            $this.text(moment.unix($this.text()).format());
        });
    });
</script>
