@import com.fasterxml.jackson.databind.JsonNode

@(chain: JsonNode)

@main("Kettinganalyse") {
    <a href="@routes.ChainController.index()" class="btn btn-primary btn-sm">&laquo; Terug</a><br />
    <h1>Kettinganalyse</h1>

    <hr />

    <strong>Naam:</strong> @chain.findPath("name").asText() <br />
    <strong>Datum analyse:</strong> <span class="timestamp">@chain.findPath("analysisDate").asText()</span> <br />
    <strong>Datum probleemgedrag:</strong> <span class="timestamp">@chain.findPath("behaviorDate").asText()</span> <br />

    <hr />

    @defining(chain.findPath("problemBehavior")) { pb =>
        <h4>Probleemgedrag</h4>
        <strong>Vraag:</strong> @pb.findPath("question").asText() <br />
        @defining(iterableAsScalaIterable(pb.findPath("answer"))) { answers =>
            <strong>Antwoord:</strong> @for(a: JsonNode <- answers.init) { @a.asText(), } @answers.last.asText() <br />
        }
        @defining(iterableAsScalaIterable(pb.findPath("food"))) { foods =>
            <strong>Gegeten:</strong> @for(a: JsonNode <- foods.init) { @a.asText(), } @foods.last.asText() <br />
        }
    }

    <hr />

    @defining(chain.findPath("provocation")) { pr =>
        <h4>Aanleiding (uitlokkende gebeurtenis)</h4>
        <strong>Vraag:</strong> @pr.findPath("question").asText() <br />
        <strong>Antwoord:</strong> @pr.findPath("answer").asText() <br />
    }

    <hr />

    @defining(chain.findPath("vulnerabilityFactors")) { vf =>
        <h4>Kwetsbaar makende factoren</h4>
        <strong>Vraag:</strong> @vf.findPath("question").asText() <br />
        @for(a: JsonNode <- iterableAsScalaIterable(vf.findPath("answer"))) {
            <h5><strong>@a.findPath("category").asText()</strong></h5>
            <ul>
                @for(f: JsonNode <- iterableAsScalaIterable(a.findPath("factors"))) {
                    <li>@f.findPath("text").asText() (@f.findPath("importance").asText())</li>
                }
            </ul>
        }
    }

    <hr />

    @defining(chain.findPath("eventChain")) { ec =>
        <h4>Ketting van gebeurtenissen</h4>
        <strong>Vraag:</strong> @ec.findPath("question").asText() <br />

        <br />

        <ul>
            @for(f: JsonNode <- iterableAsScalaIterable(ec.findPath("answer"))) {
                <li>
                    @defining(f.findPath("prevention").asText()) { p =>
                        <strong>@f.findPath("type").asText():</strong> @f.findPath("text").asText() @if(!p.equals("")) { - <i>@p</i>}
                    }
                </li>
            }
        </ul>
    }

    <hr />

    @defining(chain.findPath("consequences")) { cq =>
        <h4>Gevolgen en consequenties</h4>
        <strong>Vraag:</strong> @cq.findPath("question").asText() <br />

        <br />

        <ul>
            @for(c: JsonNode <- iterableAsScalaIterable(cq.findPath("answer"))) {
                <li>
                    @defining(c.findPath("repair").asText()) { r =>
                        @c.findPath("text").asText() @if(!r.equals("")) { - <i>@r</i>}
                    }
                </li>
            }
        </ul>
    }

    <hr />

    @defining(chain.findPath("preventionStrategy")) { ps =>
        <h4>Preventie strategie</h4>
        <strong>Vraag:</strong> @ps.findPath("question").asText() <br />
        <strong>Antwoord:</strong> @ps.findPath("answer").asText() <br />
    }

    <hr />

    <a href="@routes.ChainController.index()" class="btn btn-primary btn-sm">&laquo; Terug</a><br />
    <br />
}

<script type="text/javascript">
    $(function() {
        $('.timestamp').each(function() {
            $this = $(this);
            $this.text(moment.unix($this.text()).format());
        });
    });
</script>
